<header [ngClass]="{header: true}">
	<div [ngClass]="{container: true}">
		<div [ngClass]="{headerWrapper : true}">
			<h1 [ngClass]="{logo:true}"><a href="/">ExchangeRate.<span [ngClass]="{logoSpan : true}">u</span><span
						[ngClass]="{logoSpan : true}">a</span></a></h1>
			<app-currency-rate></app-currency-rate>
		</div>
	</div>
</header>

<main>
	<section [ngClass]="{section: true}">
		<div [ngClass]="{container: true}">
			<app-currency-converter></app-currency-converter>
		</div>
	</section>
</main>